.backlog {
  padding: 10px;
  background: #90A4AE;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__search {
    width: 100%;
    padding: 3px;
    margin-bottom: 20px;
  }

  &-tasks {
    list-style: none;
    &__item {
      padding: 10px;
      background: #E0E0E0;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }

      &--selected {
        background-color: #81C784;
      }
    }
  }

  &-task {
    &__title {
      margin-bottom: 4px;
      color: #4527A0;
      font-size: 16px;
      font-weight: 700;
      @media screen and (max-width: 1000px) {
        font-size: 14px;
      }
    }
    &__text {
      font-size: 14px;
      @media screen and (max-width: 1000px) {
        font-size: 12px;
      }
    }
  }
}
