* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(200px,300px);
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    max-width: 100vw;
  }
}

@import "vars";
@import "tasks-table";
@import "backlog";
